<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Indra" value="https://git.alibaba.ir/api/v4/projects/1524/packages/nuget/index.json" />
    <add key="Nexus-Indra" value="https://nexus.indraproject.ir/repository/nuget.org-proxy-v3/index.json" />
  </packageSources>
</configuration>
